<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Note</title>
</head>
<body>
    <h1>ADD NOTE</h1><br>

    <form action="/add_note" method="POST">
        <label>Title</label>
        <input type="text" name="title" required> <br><br>

        <label>Content</label>
        <textarea name="content" rows="10" cols="50"></textarea> <br><br>

        <button type="submit">Add Note</button>
    </form><br>

    <a href="/dashboard">Back to Dashboard</a>









</body>
</html>