<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Notes</title>
</head>

<body>

    <h1>My Notes</h1>

    {% if notes %}

        {% for note in notes %}

            <p>
                Title: <a href="/viewnotes/{{note[0]}}">{{ note[2] }}</a>
                
            </p>

            <p>
                Created at:
                {{ note[4] }}
            </p>

            <hr>

        {% endfor %}

    {% else %}

        <p>You don't have any notes yet...</p>

    {% endif %}

    <br>

    <a href="/add_note">Add New Note</a>

    <br><br>

    <a href="/dashboard">Back to Dashboard</a>

</body>

</html>